body {
    font-family: Arial, sans-serif;
}
.pokemon {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.pokemon img {
    margin-right: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
  }
